/* Smallest Conch
FFEFD3
Thought Processby loveSKE
FFFEE4
Not You, It's Meby loveSKE
D0ECEA
figuresby artsykerley
9FD6D2
761~esspresso HL/Syrby DESIGNJUNKEE
8B7A5E
*/ 

/* containers */
body {
  background-color: #ffefd3;
  background-image: url('/media/img/bg.jpg');
  color: #2B2521;
  font-family: 'roboto slab', 'serif';
  font-weight: 400;
}
p {
  font-size: 0.9rem;
  line-height: 130%;
}

#header_container, #main_container, #footer_container {
  width: 100%;
}

#header_content, #main_content, #footer_content {
  width: 90%;
  margin: 0 auto;
}

#footer_container {
  margin-top: 1.5rem;
  padding: 1.5rem 0 6rem 0;
  background-color: rgba(181,216,235,0.2);
}
#footer_content {
  text-align: center;
}

@media only screen and (min-width: 1267px) {
  #header_content, #main_content, #footer_content {
    width: 1140px;
    margin: 0 auto;
  }
}

ul {
  list-style-type: none;
}

/* content */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-shadow: 1px 1px 0 #fff;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 8rem;
  font-weight: 100;
  text-shadow: 1px 2px 0 #fff;
}
@media only screen and (max-width: 860px) { h1 { font-size: 6rem; } }
@media only screen and (max-width: 680px) { h1 { font-size: 5rem; } }
@media only screen and (max-width: 380px) { h1 { font-size: 3rem; } }
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  font-weight: 100;
}
h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-shadow: 1px 1px 0 #fafafa;
}

#cv-photo {
  display: inline-block;
  height: 10rem;
  margin: 0 0;
}
#cv-photo_container {
  text-align: right;
  height: 10rem;
  overflow: hidden;
}
@media only screen and (min-width: 860px) {
  #cv-photo { height: 12rem; } 
  #cv-photo_container { height: 12rem; } 
}

#cv-contacts {
  text-align: center;
}
#cv-contacts a {
  text-decoration: none;
  display: block;
  height: 40px;
  width: 40px;
}
#cv-contacts li {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 0 0.1rem;
  display: inline-block;
  background-size: 40px 40px;
}
#cv-contact_fb { background: url('/media/icon/fb.png')  }
#cv-contact_li { background: url('/media/icon/li.png')  }
#cv-contact_ma { background: url('/media/icon/ma.png')  }
#cv-contact_fb:hover, #cv-contact_fb:active { background: url('/media/icon/fb_hover.png')  }
#cv-contact_li:hover, #cv-contact_li:active { background: url('/media/icon/li_hover.png')  }
#cv-contact_ma:hover, #cv-contact_ma:active { background: url('/media/icon/ma_hover.png')  }

.cv-box {
}
.cv-card {
  padding: 1.2rem;
}

#cv-education {
  background-color: rgba(251,252,208,0.5);
}
#cv-education li {
  margin: 0.5rem;
  padding: 0.5rem;
}

#cv-work_history {
  text-align: right;
}
#cv-work_history h2 {
  display: none;
}
#cv-work_history li {
  margin-bottom: 1rem;
}
#cv-work_history p {
  margin-bottom: 0.2rem;
}
.cv-work_date {
  font-size: 0.9rem;
  font-weight: 700;
}

#cv-skills {
  background-color: rgba(203,228,237,0.25);
}
#cv-skills ul {
  margin: 1rem 0;
  text-align: center;
  cursor: default;
}
#cv-skills li {
  display: inline-block;
  padding: 0.3rem 0.75rem;
  margin: 0.3rem;
  margin-bottom: 0;
  margin-top: 0.6rem;
  background: #CDCFB7;
  border-bottom: #989987 1px solid;
  border-right: #989987 1px solid;
  color: #191A17;
  text-shadow: 1px 1px 0 #E3E6CB;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  cursor: default;
}

#cv-project_history {
  background-color: rgba(254,67,101,0.05);
}
#cv-project_history li {
  margin: 0.5rem 0.25rem;
  padding: 0.25rem;
}
#cv-project_history p {
  text-indent: 3%;
}

#cv-qualities {
  background-color: rgba(73,66,61,0.1);
}
#cv-qualities p {
  text-indent: 5%;
  margin-bottom: 0.5rem
}

#cv-coursework {
  background-color: rgba(145,184,189,0.1);
}
#cv-coursework li {
  margin: 0.5rem 0.25rem;
  padding: 0.25rem;
}
#cv-coursework p {
  text-indent: 3%;
}

@media only screen and (max-width: 480px) {
  #footer_container {
    margin: 0 0;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  #cv-photo_container {
    background-color: rgba(139,122,94,0.5);
    text-align: center;
  }
  #cv-photo {
    height: auto;
    width: 50%;
  }
  #cv-photo_container, .cv-box {
    width: 100%;
    height: auto;
    padding: 0.5rem 5.5%;
    margin: 0 -5.5%;
  }
  /* #cv-work_history { */
  /*   text-align: center; */
  /* } */
  /* .cv-work_desc { */
  /*   text-align: center; */
  /* } */
  p, .cv-work_date {
    text-align: center;
    text-indent: 0;
  }
  .col {
    margin-left: -5.5% !important;
  }
  #cv-name {
    padding-left: 5.5%;
  }
}

